# Môi trường Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*venv/
*env/

# File biến môi trường
.env

#upload.log
userupload.log
# Các file tạm thời khác
*.tmp
*.sh
# Bỏ qua các file log và report tạm được tạo ra trong quá trình chạy
*_report.txt
uploaded_files_*.log